.popupFormContainer {
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupForm {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close-button {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    flex: 1;
    text-align: center;
    border-bottom: 2px solid transparent;
  }
  
  .tab.active {
    border-bottom: 2px solid #24D1E8;
    color: #24D1E8;
  }

.logoConatiner { 
    display: flex;
    justify-content: center;
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 10px;
}